src/by/teachmeskills/homeworks/hw_28042023/hospitalemploees.dtd

<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hospital [
        <!ELEMENT hospital (doctor+)>
        <!ELEMENT doctor (name, position, department,workExperience)>
        <!ELEMENT name (#PCDATA)>
        <!ELEMENT position (#PCDATA)>
        <!ELEMENT department (#PCDATA)>
        <!ELEMENT workExperience (#PCDATA)>
        ]>